JWT_SECRET=secret

ORIGIN=http://localhost:5173

BETASERIES_KEY=key

POSTGRES_HOST=localhost
POSTGRES_DB=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin

MODE=dev

PORT=8080

TELEGRAM_TOKEN=telegram-bot-token
TELEGRAM_CHAT_ID=telegram-chat-id
CRON_CONCURRENCY=8
REVOKED_TOKEN_RETENTION_DAYS=7
NOTIFICATION_RETENTION_DAYS=30